body {
    background-color: lightblue;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
  
h1 {
  color: navy;
}

.round {
    border: 1px solid burlywood;
    border-radius: 12px;
    padding: 3px;
}

.right {
  text-align: right;
}